<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <form action="/list" method="post" enctype="multipart/form-data">
        <label>Choose File: <br></label>
        <input type="file" name="image" multiple/>
        <br>
        <button type="submit">Upload to Youtube</button>

    
    </form>


    
    
</body>
</html>